extends layout

block content
  h1= title
  p Welcome to #{title}
  <br/>
  <br/>
  
  /average
  <br/>

  /average_canineone
  <br/>

  /average_canineTwo
  <br/>

  /average_caninethree
  <br/>

  /averageEachDayCanineOne
  <br/>

  /averageEachDayCanineTwo
  <br/>

  /averageEachDayCanineThree
  <br/>

  /HeartRate_CanineOne
  <br/>

  /HeartRate_CanineTwo
  <br/>

  /HeartRate_CanineThree
  <br/>

  /HeartToSleep_CanineOne
  <br/>

  /HeartToSleep_CanineTwo
  <br/>

  /HeartToSleep_CanineThree
  <br/>

  /HeartToWalk_CanineOne
  <br/>

  /HeartToWalk_CanineTwo
  <br/>

  /HeartToWalk_CanineThree
  <br/>

  /HeartToNormal_CanineOne
  <br/>

  /HeartToNormal_CanineTwo
  <br/>

  /HeartToNormal_CanineThree
  <br/>

  /BehaviourPatternActionsAverage
  <br/>
