extends layout

block content
  h1= title
  p Welcome to #{title}
  <br/>
  <br/>
  
  /average
  <br/>

  /average_canineone
  <br/>

  /average_canineTwo
  <br/>

  /average_caninethree
  <br/>


  <br/>
